@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.hero-text {
    margin: 64px;
}

.hero-text h1 {
font-size: 100px;
}

.hero-text h3 {
 font-size: 5px;
}

.container-1 {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 1px solid green;
    
}

.col {
    width: 50%;
    border: 1px solid red;
}

.emptytest {
    width: 50%;
    border: 1px solid green;
}

.bio-container {
    border: 1px solid blue;
    margin: 16px;
    padding: 16px;
}

.bio-container h3 {
    text-align: center;
    
}

.image1-container {
    width: 50%;
    border: 1px solid yellow;
    margin: 30px;
}

.portrait-1{
    background-image: url("assets/poster7.png");
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    /* flex: wrap; */
    background-size: cover;
    width: 46vw;
    height: 50vw;
    height: x;
    /* border: 1px solid purple; */
}

.container-2 {
    display: flex;
    margin: 10px;
    padding: 10px;
    
    
}
.skills-container {
    border: 1px solid white;
    margin: 16px;
    padding: 16px;
}

.skills-container h3 {
    text-align: center;
}