@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: white;
}
    

.hero-text {
    margin: 64px;
}

.hero-text h1 {
font-size: 5vw;
text-align: center;
}

.hero-text h3 {
 font-size: 5px;
}

.container-1 {
    display: flex;
    flex: wrap;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 40px;
    padding: 100px;
    border: 1px solid green;

    
}
/* .container-2 {
    display: flex;
    flex: wrap;
    justify-content: center;
    margin: 40px;
    padding: 10px;
    border: 1px solid green; */

.col {
    width: auto;
    height: auto;
    border: 1px solid white;
}

.col-1-L{

}

.emptytest {
    width: 50%;
    /* border: 1px solid green; */
}

.bio-container {
    /* border: 1px solid blue; */
    margin: 16px;
    padding: 16px;
    width: 30vw;
    height: 30vw;
}

.bio-container h3 {
    text-align: center;
    
}

.image1-container {
    margin-left: auto;
    margin-right: auto;
    /* border: 30px solid yellow; */
    padding: 1px;
}

.portrait-1{
    background-image: url("assets/poster7.png");
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: top;
    width: 46vw;
    height: 50vw;
    flex-grow: 1;
    /* border: 40px solid red; */
    
}
.skills-container {
    /* border: 1px solid white; */
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.skills-container h3 {
    text-align: center;
}