@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.hero-text {
    margin: 64px;
}

.hero-text h1 {
font-size: 100px;
}

.hero-text h3 {
 font-size: 5px;
}

.container-1 {
    display: flex;
    
}

.col {
    width: 50%;
    border: 1px solid white;
}

.emptytest {
    width: 50%;
    border: 1px solid white;
}

.bio-container {
    border: 1px solid white;
    margin: 16px;
    padding: 16px;
}

.bio-container h3 {
    text-align: center;
}

.container-2 {
    display: flex;
    
}
.skills-container {
    border: 1px solid white;
    margin: 16px;
    padding: 16px;
}

.skills-container h3 {
    text-align: center;
}